<%- include("layouts/head.ejs") %>
<%- include("layouts/navigation.ejs") %>

<div class="container mx-auto py-20 px-6">
    <div class="max-w-2xl  border-l-4 border-green-600 mx-auto">
        <div class="pl-4">
            <h1 class="font-sans text-gray-900 text-base md:text-lg pb-3 font-bold"><%= todoDetail.dateCreated.toDateString() %></h1>
            <p class="font-sans text-xl md:text-2xl tracking-wider pb-4">
                <%= todoDetail.title %>
            </p>
            <p class="font-sans text-lg text-gray-600 leading-8">
                <%= todoDetail.description %>
            </p>
        </div>
    </div>
</div>

<%- include("layouts/scripts") -%>